doctype html
html
    head
        title Restauraunt Newsletter
        link(rel='stylesheet' href='css/style.css' type='text/css')
    body
        .container
            nav
                ul
                    li
                        a(href="#") Homepage
                    li
                        a(href="#") Procudcts Page
                    li
                        a(href="#") Blog
            header
                img(src="img/logo.png" alt='Restauraunt Newsletter')
            .showcase
                img(src="img/showcase.jpg" alt='Showcase')
            .content
                h1.page-header Bacon Ipsum
                p Ground round meatball turkey, chuck kevin turducken ham hock rump shank strip steak sausage leberkas corned beef.
                
                .specials
                    h2.heading-primary This Month's Specials
                    ul
                        li  
                            img(src="img/food1.jpg" alt='food1')
                            h4 Bacon ipsum dolor amet
                            p Ground round meatball turkey, chuck kevin turducken ham hock rump shank strip steak sausage leberkas corned beef.
                            a(href='#') Read More
                        li  
                            img(src="img/food2.jpg" alt='food2')
                            h4 Bacon ipsum dolor amet
                            p Ground round meatball turkey, chuck kevin turducken ham hock rump shank strip steak sausage leberkas corned beef.
                            a(href='#') Read More
                        li  
                            img(src="img/food3.jpg" alt='food3')
                            h4 Bacon ipsum dolor amet
                            p Ground round meatball turkey, chuck kevin turducken ham hock rump shank strip steak sausage leberkas corned beef.
                            a(href='#') Read More

                .clearfix
                .new-items
                    h2.heading-secondary New Menu Items
                    ul
                        li
                            .item-left
                                img(src="img/food4.jpg" alt='food1')
                            .item-right
                                h4 Bacon ipsum dolor amet
                                p Ground round meatball turkey, chuck kevin turducken ham hock rump shank strip steak sausage leberkas corned beef.
                        .clearfix
                        li
                            .item-left
                                img(src="img/food5.jpg" alt='food1')
                            .item-right
                                h4 Bacon ipsum dolor amet
                                p Ground round meatball turkey, chuck kevin turducken ham hock rump shank strip steak sausage leberkas corned beef.
                        .clearfix
                        li
                            .item-left
                                img(src="img/food6.jpg" alt='food1')
                            .item-right
                                h4 Bacon ipsum dolor amet
                                p Ground round meatball turkey, chuck kevin turducken ham hock rump shank strip steak sausage leberkas corned beef.
                        .clearfix
            footer
                p Copyright &copy; #{new Date().getFullYear()} Sentimental Graffiti